<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
		<!-- 配置文件名称 -->
		<add key="configName" value="updateconfig.xml"/>
		<!-- FTP 服务器地址 -->
		<add key="ftpServerURL" value="ftp://localhost"/>
		<!-- 更新文件存放文件夹名称 -->
		<add key="updateFileDirName" value="FileFolder"/>
		<!-- 主版本号 -->
		<add key="mainVersion" value="0"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>